<div id="articles">
    <ul>
    {{#each articles }}
    <li class="article-wrap" data-id="{{_id}}">
        <h1>{{title}}</h1>
        <p>{{summary}}</p>
        <h2><a href="{{link}}" target="_blank">Link</a></h2>
        <h2>{{byline}}, {{dateStamp}}</h2>
    </li>
    {{/each}}
</ul>

</div>
<div id="notes"></div>